


.markdowneditor .middleColumn {
    border: none;
}

.markdowneditor .editor-toolbar {
    background: #FFFFFF;
}

.markdowneditor .CodeMirror {
    background: #FFFFFF;
}

.markdowneditor .editor-toolbar .fa.h1:after {
    content: "1";
    position: relative;
    top: 1px;
    margin-left: 1px;
}

.markdowneditor .editor-toolbar .fa.h2:after {
    content: "2";
    position: relative;
    top: 1px;
    margin-left: 1px;
}

.markdowneditor .editor-toolbar .fa.h3:after {
    content: "3";
    position: relative;
    top: 1px;
    margin-left: 1px;
}

.markdowneditor .editor-toolbar .fa.h4:after {
    content: "4";
    position: relative;
    top: 1px;
    margin-left: 1px;
}

.markdowneditor .editor-toolbar .fa.h5:after {
    content: "5";
    position: relative;
    top: 1px;
    margin-left: 1px;
}

.markdowneditor .editor-toolbar .fa.h6:after {
    content: "6";
    position: relative;
    top: 1px;
    margin-left: 1px;
}


/**
DEPRECATED

*/
.markdowneditor .markdowneditor_editor {
	border: 1px solid #CCCCCC;
    position: relative;
    font-family: Monaco, "Liberation Mono", Courier, monospace;
    z-index: 0;
}

.markdowneditor .markdowneditor_editor .ace_content {
    line-height: normal;
}

.markdowneditor .ace_focus {
	border: 1px solid #9a9a9a;
	border-top-color: #808080;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
}